<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>studio.cue.remote</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cuestudio</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tiktoksharesdk</string>
		<string>snssdk1180</string>
		<string>snssdk1233</string>
	</array>
	<key>MetaAppID</key>
	<string></string>
	<key>NSBonjourServices</key>
	<array>
		<string>_cue-remote._tcp</string>
	</array>
	<key>TikTokClientKey</key>
	<string></string>
	<key>TikTokShareRedirectURI</key>
	<string></string>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
</dict>
</plist>
